<ul>
    <li><a href="/admin/chapters">Tous les chapitres</a></li>
    <li><a href="/admin/chapters/draf">Chapitres en cours d'écriture</a></li>
    <li><a href="/admin/chapters/published">Chapitres publiés</a></li>
    <li><a href="/admin/chapter/add">Ajouter un chapitre</a></li>
</ul>