<ul>
    <li><a href="/admin/comments">tous les commentaires</a></li>
    <li><a href="/admin/comments/signaled">Commentaires signalés</a></li>
    <li><a href="/admin/comments/banished">Commentaires banies</a></li>
</ul>