{% extends 'admin/layout.html.twig' %}

{% block title %}Suppression d'un chapitre{% endblock  %}

{% block chapters %}
    {% include "admin/chapters_bar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="well">
        <h1 class="text-center">Suppression d'un chapitre</h1>
        <form class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label for="delete" class="col-sm-8 control-label">Supprimer le chapitre {{ chapter.title }} :</label>
                <div class="col-sm-2">
                    <input type="submit" name="delete" id="delete" value="Supprimer" class="btn btn-xs btn-danger">
                </div>
            </div>
        </form>
    </div>
{% endblock %}