{% extends 'admin/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2>Zone adminnistration </h2>
    <p>
        Dans la partie Chapitre, vous pourrez gérer les chapitres.<br/>
        Vous aurez la possibilité d'écrire de nouveaux chapitres.
    </p>
{% endblock %}