<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Blog BSA{% endblock %}
    </title>
    {% block script %}
    <!-- appelle des cdn de bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    {% endblock %}
    <style type="text/css">
        {% block stylesheets %}
        /* Margin haute au body pour descendre le contenu de la page sous la barre de navigation */
            html{
                position: relative;
                min-height: 100%;
                margin: 0;
                padding: 0;
            }
            #menu{
                position: absolute;
                bottom: 0;
                top: 0;
                min-height: 100%;
                background-color: #2e3436;
                color: #9d9d9d;
                margin: 0;
                padding-top: 20px;
                padding-left: 50px;
            }
            #content{
                margin-left:0;
                margin-top: 0;
                padding:20px 50px;
            }

        {% endblock %}
    </style>
</head>
<body>
    <div class="row">
        <div id="menu" class="col-sm-3">
            <h2 class="text-center">Menu</h2>
            <ul class="list-unstyled">
                <li><a href="/admin">Accueil</a>{% block accueil %}{% endblock %}</li>
                <li><a href="/admin/chapters">Chapitres</a>{% block chapters %}{% endblock %}</li>
                <li><a href="/admin/comments">Commentaires</a>{% block comments %}{% endblock %}</li>
                <li><a href="/admin/users">Visiteurs</a>{% block visiteurs %}{% endblock %}</li>
                <li><a href="/admin/contents">Contenus modifiables</a></li>
                <li><a href="/admin/logout">Se deconnecter</a></li>
                <li><a href="/">Retour au site</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-push-3" id="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
{% block javascript %}
    <!-- Appel de la bibliothèque JQuery de Bootstrap et du Javascript en cdn -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
{% endblock %}
</body>
</html>