<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h2>Réinitialisation du mot de passe</h2>
    <p>
        Vous avez demandé la réinitialisation de votre mot de passe.<br/>
        Pour des raisons de sécurité, nous ne pouvons connaître votre mot de passe.<br/>
        Voici le nouveau mot de passe :<br/>
        {{ password }}<br/>
        Rendez-vous dès à présent sur le <a href="projetb.site-projet.fr/login">site</a> pour le modifier.
    </p>
</body>
</html>