<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h2>Réinitialisation du mot de passe</h2>
    <p>
        Vous avez demander de réinitialiser votre mot de passe.<br/>
        Voici le nouveau mot de passe :<br/>
        {{ password }}<br/>
        Rendez vous dès à présent sur le <a href="/">site</a> pour le modifier.
    </p>
</body>
</html>