<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Blog BSA{% endblock %}
    </title>
    <!-- appelle des cdn de bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    {% block link %}{% endblock %}
    <style type="text/css">
        {% block stylesheets %}
        /* Margin haute au body pour descendre le contenu de la page sous la barre de navigation */
        body {
            padding-top: 80px;
        }

        {% endblock %}
    </style>
</head>
    <body>
    {# On inclue l'affichage de la navbar #}
    {% include 'navbar.html.twig' %}
    <div class="container">
        {# block body qui sera rempli sur les differents fichiers de pages #}
        {% block body %}
        {% endblock %}
    </div>

{% block javascript %}
    <!-- Appel de la bibliothèque JQuery de Bootstrap et du Javascript en cdn -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
{% endblock %}
</body>
</html>