{% extends 'layout.html.twig' %}

{% block title %}Connection {% endblock %}

{% block body %}
    {% for info in infos %}
        <div class="row">
            <div class="alert alert-success col-sm-6 col-sm-push-3">
                {{ info.0 | raw }}
            </div>
        </div>
    {% endfor %}
    <div class="well">
        <form action="" method="post" class="form-horizontal">
            <h1 class="text-center">Formulaire de connection</h1>
            {% for error in errors if error.error == "formulaire" %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="firstname" class="control-label col-sm-2">Prénom : </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="firstname" id="firstname" value="">
                </div>
                {% for error in errors if error.error == "firstname" %}
                    <div class="alert alert-danger col-sm-5">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-2">Mot de passe :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                {% for error in errors if error.error == "password" %}
                    <div class="alert alert-danger col-sm-5">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <input type="submit" value="Se connecter" class="button button-s button-primary center">
            </div>
        </form>
        <div class="text-center">
            <a href="/user/reset">Mot de passe oublié</a>
        </div>
    </div>
{% endblock %}