{% extends 'layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <h1>Les mentions légales</h1>
    <p>
        Ce site a été construit par WebCreator 5 rue du web 93001 Paris, 0123456789<br>
        Addresse mail: web.creator@mail.com<br/>
        Le site est hébegé par 1&1 15 rue de l'hébergeur 69001 Lyon, 046982250<br/>

    </p>
    <p>
        Ce site est a l'initiative de Mr Jean Forteroche. Le but de ce site est la diffusion par Mr Jean des chapitres de son nouveau livre.
        Les visiteurs après connections pourront  laissez un commentaire
    </p>
    <p>
        Les conditions générales d'utilisations :<br>
        Les commentaires :<br>
        Les visiteurs laissant un commentaire s'engagent à réspecter les règles suivantes : <br>
        1- Le message ne pourra contenir d'insulte. Il devras rester respectueux des personnes à qui il s'addresse et ne pas être de caractères raciste, homophobe ni sexiste et ne pas prôné la violence et la haine des religions.
        2 - Le message ne devras pas contenir de passage des chapitres afin de preserver tout suspece.
        3 - L'auteur du message assure posséder tous les droit attenant aux citations ou autres éléments utiliser dans son message. <br>
        Si une de ces règles n'est pas respecter Mr Jean auras la possibilité de modérer le message en empêchant son affichage. Il se reserve le droit de modérer des messages pour des règles supplémentaires.
        <br>
        Le propriétaire du site ne pourras en aucun cas être tenue pour responsable
    </p>
    <p>
        Les données personnels des visiteurs:<br/>
        Les données personnelles renseigner par le visiteur sont stocker en bases de données et ne seront pas vendu ni utiliser à des caractères publicitaires.
    </p>
{% endblock %}