{% extends 'layout.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    <div class="well">
        <h2 class="text-center">Réinitialisation du mot de passe</h2>
        {% if infos is empty %}
            <form action="" method="post" class="form-horizontal ">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="email">Email du compte :</label>
                    <div class="col-sm-5">
                        <input type="email" id="email" name="email" class="form-control">
                    </div>


                {% for error in errors %}
                        <div class="alert alert-success col-sm-10">
                            {{ error.message }}
                        </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <input type="submit" value="Envoyer">
            </div>
        </form>
        {% else %}
            {% for info in infos %}
                <div class="row">
                    <div class="alert alert-success col-sm-6 col-sm-push-3">
                        {{ info | raw }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}